
# Dependencies
node_modules/

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Allure
/allure-report/
/allure-results/

# Reports and artifacts
/results.json
/results.xml
/screenshots/

